@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';

.app,
.app_modal,
.app_drawer {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: #f4f5f7;
    min-height: 100vh;
}

.content-page {
    display: flex;
}
